main
	.content-wrapper
		.row
			.col-12
				.editor-choices
					.flag
						i.fas.fa-check
					span Editor’s Choices
		.gallery
			.row
				.col-sm-4
					.gal-top-l.img-hover
						img(src="img/home/gallery/small/gallery-sm-1.jpg", alt="")
					.gal-bot-l.img-hover
						img(src="img/home/gallery/small/gallery-sm-4.jpg", alt="")
				.col-sm-4
					.gal-top-c.img-hover
						img(src="img/home/gallery/small/gallery-sm-2.jpg", alt="")
					.gal-bot-c.img-hover
						img(src="img/home/gallery/small/gallery-sm-6.jpg", alt="")
				.col-sm-4
					.gal-r.img-hover
						img(src="img/home/gallery/small/gallery-sm-3.jpg", alt="")
					.gal-r.img-hover
						img(src="img/home/gallery/small/gallery-sm-5.jpg", alt="")
					.gal-r.img-hover
						img(src="img/home/gallery/small/gallery-sm-7.jpg", alt="")
