head
	meta(charset="utf-8")
	meta(http-equiv="X-UA-Compatible", content="IE=edge")
	meta(name="author", content="Alexander Kislov")
	meta(name="copyright", content="Alexander Kislov")
	meta(name="description", content="Workspace - Ecommerce Website")
	meta(name="keywords", content="")
	meta(name="viewport", content="width=device-width, initial-scale=1")
	meta(name="robots", content="index, follow")
	meta(name="msapplication-navbutton-color", content="#4285F4")
	meta(name="apple-mobile-web-app-status-bar-style", content="#4285F4")
	link(rel="shortcut icon", href="", type="image/x-icon")
	link(rel="manifest", href="manifest.json")
	title Workspace — Ecommerce Website
	link(rel="stylesheet", href="css/libs/libs.css", type="text/css")
	link(rel="stylesheet", href="css/home.css", type="text/css")
	//- style.
	//-   html {
	//-   background-color: #FFF;
	//-   }
	//-   body {
	//-   opacity: 0;
	//-   overflow-x: hidden;
	//-   }
