main
	.content-wrapper
		.row
			.col-12
				.editor-choices
					.flag
						i.fas.fa-check
					span Editor’s Choices
		.gallery
			.row
				.col-md-4.gallery-item
						.top
							a(href="#/")
								picture
									source(media="(max-width: 768px)" srcset="img/home/gallery/gallery-1.jpg")
									img(src="img/home/gallery/gallery-sm-1.jpg", alt="Gallery img table")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
						.bot
							a(href="#/")
								img(src="img/home/gallery/gallery-sm-4.jpg", alt="Gallery img table with table lamp")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
				.col-md-4.gallery-item
						.top
							a(href="#/")
								img(src="img/home/gallery/gallery-sm-2.jpg", alt="Gallery img group of chairs")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
						.bot
							a(href="#/")
								img(src="img/home/gallery/gallery-sm-6.jpg", alt="Gallery img tables with chairs")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
				.col-md-4.gallery-item
						.top
							a(href="#/")
								img(src="img/home/gallery/gallery-sm-3.jpg", alt="Gallery img flowers in pots")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
						.mid
							a(href="#/")
								img(src="img/home/gallery/gallery-sm-5.jpg", alt="Gallery img group of tables")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
						.bot
							a(href="#/")
								img(src="img/home/gallery/gallery-sm-7.jpg", alt="Gallery img modern")
								.caption
									.caption-text
										h1 Amazing Caption
										p Whatever It Is - Always Awesome
		.gallery-explore
			.row.justify-content-end
				.col-md-auto
					a.block-link(href="#/") Explore
		.inspiration-products
			.heading
				h1 Inspiration Products
				p Get your inspiration stuff here with best value
		.desk-and-tables
			.row.align-items-center.justify-content-between
				.col-12.col-md-8
					.left-table
						img(src="img/home/product/image.png", alt="Table")
						.caption
							p Desks & Tables
							a.block-link(href="#/") Collection
				.col-12.col-md-4
					.right-shop
						img(src="img/home/product/get-all.jpg", alt="Get all collections")
						.right-shop-link
							.text-group
								p Get all collections
								a(href="#/") Shop now

			.row

			.row

			.row

