.content-wrapper
	.container
		.row
			.col-12
				.editor-choices
					.flag
						i.fas.fa-check
					span Editor’s Choices
		.gallery
			.row
				.col-md-4.gallery-item
						.top
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-1.jpg")
									img(src="img/home/gallery/gallery-sm-1.jpg", alt="Gallery img table")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
						.bot
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-4.jpg")
									img(src="img/home/gallery/gallery-sm-4.jpg", alt="Gallery img table with table lamp")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
				.col-md-4.gallery-item
						.top
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-2.jpg")
									img(src="img/home/gallery/gallery-sm-2.jpg", alt="Gallery img group of chairs")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
						.bot
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-6.jpg")
									img(src="img/home/gallery/gallery-sm-6.jpg", alt="Gallery img tables with chairs")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
				.col-md-4.gallery-item
						.top
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-3.jpg")
									img(src="img/home/gallery/gallery-sm-3.jpg", alt="Gallery img flowers in pots")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
						.mid
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-5.jpg")
									img(src="img/home/gallery/gallery-sm-5.jpg", alt="Gallery img group of tables")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
						.bot
							a(href="#/")
								picture
									source(media="(max-width: 767px)" srcset="img/home/gallery/gallery-7.jpg")
									img(src="img/home/gallery/gallery-sm-7.jpg", alt="Gallery img modern")
								.caption-img
									.caption-text
										h2 Amazing Caption
										p Whatever It Is - Always Awesome
		.gallery-explore
			.row.justify-content-end
				.col-md-auto
					a.block-link(href="#/") Explore
		.page-heading
			h2 Inspiration Products
			p Get your inspiration stuff here with best value
		.desk-and-tables
			.row.justify-content-between
				.col-12.col-lg-8
					.caption-table
						p Desks & Tables
						a.block-link(href="#/") Collection
					.left-table
						img(src="img/home/products/table.png", alt="Table")
				.col-sm-12.col-lg-3.col-xl-4
					.get-all
						p Get all collections
						a.link-hover(href="#/") Shop now
			.row
				.col-12.col-lg-5
					.caption-table.caption-organizer
						p Organizers
						a.block-link(href="#/") Collection
					.left-organizer
						img(src="img/home/products/organizer.png", alt="Organizer")
				.col-12.col-lg-7.d-flex.align-items-end
					.caption-table.caption-chair
						p Chairs
						a.block-link(href="#/") Collection
					.right-chair
						img(src="img/home/products/chair.png", alt="Chair")
			.row
				.col-12.col-lg-5
					.catalogs-tools.justify-content-around
						.row
							.col-md-6.d-none.d-md-block
								img(src="img/home/products/catalog-sm.jpg", alt="Catalog")
							.col-md-6.d-flex.justify-content-center.align-items-center.catalogs
								a(href="#/") Catalogs
						.row
							.col-md-6.d-flex.justify-content-center.align-items-center.planning-tools
								a(href="#/") Planning tools
							.col-6.d-none.d-md-block
								img(src="img/home/products/tools-sm.jpg", alt="Tools")
				.col-12.col-lg-7
					.caption-table.caption-wall-sh
						p Wall Shelves
						a.block-link(href="#/") Collection
					.right-wall-sh
						img(src="img/home/products/wall-shelve.png", alt="Wall Shelve")
		.page-heading
			h2 Workspace Tutorials
			p Explore beautiful stories and tutorial from workspaces around the world
	.workspace-tutorials
		.owl-nav#owl-nav-outside
		.container
			.owl-carousel.owl-theme
				.item
					picture
						source(media="(max-width: 767px)" srcset="img/home/slider/slider-tutorial-sm-1.jpg")
						img(src="img/home/slider/slider-tutorial-1.jpg", alt="Slider Img 1")
					.slide-caption
						h4 Cleaness
						p Make your workspace stay clean
				.item
					picture
						source(media="(max-width: 767px)" srcset="img/home/slider/slider-tutorial-sm-2.jpg")
						img(src="img/home/slider/slider-tutorial-2.jpg", alt="Slider Img 2")
					.slide-caption
						h4 Room
						p From messy room to perfect room
				.item
					picture
						source(media="(max-width: 767px)" srcset="img/home/slider/slider-tutorial-sm-3.jpg")
						img(src="img/home/slider/slider-tutorial-3.jpg", alt="Slider Img 3")
					.slide-caption
						h4 Design
						p Make your room work for you
				.item
					picture
						source(media="(max-width: 767px)" srcset="img/home/slider/slider-tutorial-sm-4.jpg")
						img(src="img/home/slider/slider-tutorial-4.jpg", alt="Slider Img 4")
					.slide-caption
						h4 Design
						p Make your room work for you
