// Home page styles
.container-wrapper {
	max-width: 1470px;
	margin: 0 auto;
	padding: 0 15px;
	// overflow-x: hidden;
}

a {
	text-decoration: none;
}

a, p, span, h1, h2, h3, h4 {
	color: $secondary;
	margin: 0;
}

.link-hover {
	position: relative;

	&::after {
		content: "";
		display: block;
		position: absolute;
		width: 0;
		height: 4px;
		margin-top: 2px;
		right: 0;
		background-color: $accent;
		border-radius: $border-radius;
		transition: width 0.4s ease;
	}

	&:hover::after,
	&:focus::after {
		width: 100%;
		left: 0;
	}
}
