// -------
// Content
// -------
.content-wrapper {

}

.editor-choices {
	margin-top: 50px;
	margin-bottom: 10px;
	color: $secondary;

	span {
		font-size: 24px;
		position: relative;
		margin-left: 15px;

		&::after {
			content: " ";
			display: block;
			position: absolute;
			width: 100%;
			height: 4px;
			background-color: $accent;
			left: 0;
			bottom: -4px;
			border-radius: 4px;
		}
	}
}

.flag {
	display: inline-block;
	width: 24px;
	height: 50px;
	padding-top: 15px;
	position: relative;
	background-color: $accent;
	color: $white;
	font-size: 11px;
	text-align: center;
	text-transform: uppercase;

	i {
		margin-left: 2px;
		font-size: 14px;
	}

	&::after {
		content: " ";
		position: absolute;
		left: 0;
		bottom: 0;
		width: 0;
		height: 0;
		border-bottom: 12px solid $white;
		border-left: 12px solid transparent;
		border-right: 12px solid transparent;
	}
}

.gallery {
	img {
		display: block;
		width: 100%;
		height: 100%;
		transition: all 0.4s ease-in-out;
	}

	.gallery-item {
		display: flex;
		flex-direction: column;
		justify-content: space-around;
	}

	.top {
		position: relative;
		margin-bottom: 15px;
		overflow: hidden;
		border-radius: 4px;

		&:hover,
		&:focus {

			img {
				transform: scale(1.05);
			}

			.caption {
				opacity: 1;
			}
		}
	}

	.bot {
		@extend .top;
		margin-top: 15px;
	}

	.mid {
		@extend .top;
		margin: 15px 0;
	}

	.caption {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: 0;
		background-color: rgba($secondary, 0.5);
		color: $white;
		transition: all 0.45s ease-in-out;
	}

	.caption-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 100%;
		height: 100%;
		align-items: center;
		z-index: 2;
		text-align: center;

		h1 {
			text-transform: uppercase;
			font-size: 24px;
		}
	}
}
