@media screen and (max-width: 1199px) {
	.left-organizer {
		img {
			left: -10px;
		}
	}
}

@media screen and (max-width: 991px) {
	.desk-and-tables {
		.row {
			margin-bottom: 0;
		}
	}

	.get-all {
		height: auto;
		text-align: center;
		font-size: 24px;
		background-position: inherit;
		margin: 80px 0;
		padding: 20px 0;
	}

	.left-organizer {
		width: 100%;
		height: auto;
		margin-right: auto;
		margin-bottom: 0;
		border: 0;
		border-top: 1px solid $accent;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: 0;

		img {
			position: static;
			width: 70%;
			margin: 60px 0;
		}
	}

	.caption-organizer {
		top: -30px;
	}

	.right-chair{
		width: 100%;
		height: auto;
		margin: auto 0;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		border: 0;
		border-left: 1px solid $accent;
		border-radius: 0;

		img {
			position: static;
			width: 55%;
		}
	}

	.caption-chair {
		top: 50%;
		transform: translateY(-50%);
	}

	.right-wall-sh {
		width: 100%;
		height: auto;
		margin: auto 0;
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0;
		border-bottom: 1px solid $accent;
		border-radius: 0;

		img {
			position: static;
			width: 100%;
			margin: 40px 0;
		}
	}

	.caption-wall-sh {
		left: 0;
	}

	.catalogs-tools {
		margin-top: 40px;
	}

	.workspace-tutorials {

		.slide-caption {
			padding: 20px 10px;

			p {
				font-size: 24px;
			}
		}
	}
}

@media screen and (max-width: 767px) {
	.nav-drill {
		ul {
			li {
				font-size: 24px;
				letter-spacing: 2px;
			}
		}
	}

	.sign-in-menu {
		span {
			font-size: 18px;
		}
	}

	.search-menu {
		display: none;
	}

	.intro-text {
		h1 {
			font-size: 46px;
			line-height: 60px;
		}
	}

	.input-field {
		input[type=search] {
			font-size: 18px;
		}
	}

	.editor-choices {
		span {
			font-size: 20px;
		}
	}

	.block-link {
		font-size: 20px;
	}

	.page-heading {
		text-align: center;
		margin-top: 60px;

		h2 {
			font-size: 40px;
		}

		p {
			font-size: 18px;
		}
	}

	.left-table {
		border: 0;
		border-top: 1px solid $accent;
		border-radius: 0;
		width: 100%;
		height: auto;
		margin: 0 auto;
		display: flex;
		justify-content: center;
		align-items: center;

		img {
			position: static;
			margin-top: 60px;
		}
	}

	.caption-table {
		box-shadow: 25px 0 10px #FFF;

		p {
			font-size: 32px;
			margin-bottom: 10px;
		}
	}

	.caption-chair {
		box-shadow: 0 25px 10px #FFF, 0 -25px 10px #FFF;
	}

	.catalogs-tools {
		height: auto;
		margin-top: 40px;
	}

	.catalogs {
		position: relative;
		height: auto;
		text-align: center;
		background-position: inherit;
		padding: 20px 0;
		margin: 40px 0 20px 0;
		background-image: url("../img/home/products/catalog-bg.jpg");
		background-position: center;
		border-radius: $border-radius;

		&::after {
			content: "";
			position: absolute;
			left: 0;
			top: 0;
			height: 100%;
			width: 100%;
			background-color: rgba($accent, 0.8);
			z-index: 0;
			border-radius: $border-radius;
		}

		a {
			font-size: 24px;
			color: #FFF;
			z-index: 1;

			&::after {
				background-color: #FFF;
			}
		}
	}

	.planning-tools {
		@extend .catalogs;
		background-image: url("../img/home/products/tools-bg.jpg");
		margin: 20px 0 40px 0;
	}

	.workspace-tutorials {
		margin-top: 60px;

		.slide-caption {
			padding: 20px 10px;

			h4 {
				font-size: 20px;
			}
			p {
				font-size: 28px;
			}
		}
	}

	.owl-nav {
		display: none;
	}
}

@media screen and (max-width: 540px) {
	.intro-text {
		h1 {
			font-size: 32px;
			line-height: 50px;
		}
	}

	.input-field {
		input[type=search] {
			font-size: 18px;
		}
	}

	.gallery {
		.caption-text {
			h2 {
				font-size: 20px;
			}
			p {
				font-size: 16px;
			}
		}
	}

	.page-heading {
		h2 {
			font-size: 38px;
			margin-bottom: 18px;
		}

		p {
			font-size: 17px;
		}
	}

	.desk-and-tables {
		margin-top: 80px;
	}

	.caption-table {
		p {
			font-size: 28px;
			margin-bottom: 6px;
		}
	}

	.get-all {
		font-size: 20px;
	}

	.block-link {
		font-size: 20px;
	}
}

@media screen and (max-width: 425px) {
	.sign-in-menu {
		display: none;
	}

	.intro-text {
		h1 {
			font-size: 28px;
		}
	}
}

