.subcribe {
	padding: 0 20px;
	margin-top: 80px;
	padding: 10px 0;
	background-color: $grey-background;
	border-top-left-radius: $border-radius;
	border-top-right-radius: $border-radius;
	font-size: 18px;
	font-weight: 300;
	line-height: 32.5px;
	letter-spacing: 1.5px;

	input[type='email'] {
		color: $secondary;
		padding: 2px 0;
		border-bottom: 2px solid $secondary;
		letter-spacing: 1.5px;
	}

	input[type='email']::-webkit-input-placeholder {
		letter-spacing: 1.5px;
		color: rgba($secondary, 0.7);
	}

	input[type='email']::-moz-placeholder {
		letter-spacing: 1.5px;
		color: rgba($secondary, 0.7);
		opacity: 1;
	}

	input[type='email']::--ms-input-placeholder {
		letter-spacing: 1.5px;
		color: rgba($secondary, 0.7);
	}
}
