// Import normalize.css
@import "node_modules/normalize-scss/sass/normalize/import-now";

//Import bootstrap-4 grid
@import "node_modules/bootstrap-4-grid/scss/grid";

// Import fonts
@import "partials/fonts";

// Import variables
@import "partials/variables";

// Import style parts
@import "partials/general";
@import "partials/media-queries";

// Import mobile nav menu
@import "partials/nav-menu";

// Home page styles
.container {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	overflow: hidden;
}

header {
	.top-menu {
		padding-top: 20px;
	}
	.logo {
		img {
			width: 160px;
			height: auto;
		}
	}
	.sign-search {
		display: flex;
		justify-content: flex-end;
		font-size: 24px;
		a {
			color: $secondary;
			text-decoration: none;
			span {
				display: block;
				&:after {
					content:"";
					float:left;
					background-color: $accent;
					width:0;
					height:4px;
					border-radius: 4px;
					margin-top: -6px;
					transition: 0.25s 0s ease-in-out;
				}
				&:hover:after, &:focus:after {
					width: 100%;
				}
			}
		}
		.fa-search {
			margin-right: 35px;
			transition: 0.2s 0s ease-in-out;
			&:hover, &:focus {
				color: $accent;
			}
		}
	}
}

