html,
body {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	min-width: 320px;
	min-height: 320px;
	font-family: "Roboto", sans-serif;
	font-size: 16px;
	background-color: $white;
	overflow-x: hidden;
	opacity: 1;
}

input,
select,
textarea,
button {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
