html, body {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	font-family: "Roboto", sans-serif;
	background-color: $white;
	font-size: 16px;
	overflow-x: hidden;
	opacity: 1;
	min-width: 320px;
}

input, select, textarea, button {
	font-family:inherit;
}
