$white:							#FFFFFF;
$black:							#000000;

$accent:						#B18E70;
$accent-grey:				#EEEEEE;
$accent-text:				#566873;
$accent-btn-text:		#888888;

$secondary:					#54555A;
$link-color:				#A7B2B8;
