doctype html
html(lang="en")
	head
		include pages/home/head
	body
		.container-wrapper
			.popup-search
				.popup-text
					.container
						input(type="search" name="top-menu-search" placeholder="Search...")
			.container
				header
					include pages/home/header
				main
					include pages/home/content
		include pages/home/scripts

		//- .container
		//-   header
		//-     nav
		//-       label
		//-         input(type="checkbox")
		//-         span.menu
		//-           span.hamburger
		//-         ul
		//-           li
		//-             a.link(href="#") Home
		//-           li
		//-             a.link(href="#") Inspirations
		//-           li
		//-             a.link(href="#") Collections
		//-           li
		//-             a.link(href="#") Tutorials
				//- .row.top-menu
				//-   .col-12.col-sm-6.logo
				//-     a(href="index.html")
				//-       img(src="img/common/logo.svg", alt="Workspace - Ecommerce Website Logo")
				//-   .col-12.col-sm-5.d-none.d-sm-block
				//-     .sign-search
				//-       a(href="#")
				//-         i#popupSearch.fas.fa-search.popup
				//-       a(href="#")
				//-         span.sign-in Sign in
				//- .popup
				//-   span.popuptext Show Me


