doctype html
html(lang='en')
	head
		include layout/head
	body
		.container-wrapper
			header
				include layout/header
			main
				include layout/main
			footer
				include layout/footer
		include layout/scripts
