doctype html
html
	head
		title EmptyProject
		link(rel='stylesheet' type="text/css" href='css/main.css')
	body
		script(src='js/main.js')
		//= template/_header.pug
		//= template/_content.pug
		//= template/_footer.pug
