doctype html
html(lang="en")
	head
		include pages/home/head
	body
		.container-wrapper
			.popup-search
				.popup-text
					.container
						input(type="search" name="top-menu-search" placeholder="Search...")
			.container
				header
					include pages/home/header
				main
					include pages/home/main
		include pages/home/scripts
