doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="author" content="Alexander Kislov")
		meta(name="copyright" content="Alexander Kislov")
		meta(name="description" content="Workspace - Ecommerce Website")
		meta(name="keywords" content="")
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="robots" content="index, follow")
		title Workspace &mdash; Ecommerce Website
		link(rel="shortcut icon" href="" type="image/x-icon")
		link(rel="stylesheet" href="css//libs/libs.css" type = "text/css")
		link(rel="stylesheet" href="css/home.css" type = "text/css")
		link(rel="manifest" href="manifest.json")
	body
		#my-page
			#my-header
				a.hamburger.hamburger--emphatic(href="#my-menu")
					span.hamburger-box
						span.hamburger-inner
				nav#my-menu
					ul
						li
							a(href="#/") Home
						li
							a(href="#/") Inspirations
						li
							a(href="#/") Collections
						li
							a(href="#/") Tutorials
						li
							a(href="#/") Detail Product
			#my-content
			#my-footer
		script(src="js/libs/libs.js")
		script(src="js/home.js")

