doctype html
html
	head
		title EmptyProject
		link(rel="stylesheet" type="text/css" href="css/main.css")
	body
		script(src="js/main.js")
		include template/_header.pug
		include template/_content.pug
		include template/_footer.pug