.footer-wrapper
	.row
		.col-lg-4
			.logo
				a(href='#/')
					img(src='img/branding/logo-white.svg', alt='Logo')
			.description
				p Your place for daily workspace inspiration. Member around the world uploading their workspace’s picture anytime.
			.markets
				a(href='#/')
					img(src='img/footer/google-play.jpg', alt='Google Play')
				a(href='#/')
					img(src='img/footer/app-store.jpg', alt='App Store')
			.social
				i.fab.fa-twitter
				i.fab.fa-facebook-f
				i.fab.fa-google-plus-g
				i.fab.fa-tumblr
				i.fab.fa-pinterest-p
				i.fab.fa-linkedin-in
		.col-sm-4.col-lg-2.offset-lg-2
			h4 Learn more
			ul
				li
					a(href='#/') How it works?
				li
					a(href='#/') Shipping / Returns
				li
					a(href='#/') Testimonials
				li
					a(href='#/') Contact
		.col-sm-8.col-lg-4
			.row
				.col-sm-6
					h4 About us
					ul
						li
							a(href='#/') Our Team
						li
							a(href='#/') Features
						li
							a(href='#/') Privacy police
						li
							a(href='#/') T & C’s
				.col-sm-6
					h4 Support
					ul
						li
							a(href='#/') F.A.Q.
						li
							a(href='#/') Contact us
						li
							a(href='#/') Live chat
						li
							a(href='#/') Phone call




