.footer-wrapper
	.row.justify-content-center
		.col-sm-10.col-lg-4
			.left-side
				.logo
					a(href='index.html')
						img(src='img/branding/logo-white.svg', alt='Logo')
				.description
					p Your place for daily workspace inspiration. Member around the world uploading their workspace’s picture anytime.
				.markets
					a(href='#/')
						img(src='img/footer/google-play.png', alt='Google Play')
					a(href='#/')
						img(src='img/footer/app-store.png', alt='App Store')
				.social
					a(href='#/')
						i.fab.fa-twitter
					a(href='#/')
						i.fab.fa-facebook-f
					a(href='#/')
						i.fab.fa-google-plus-g
					a(href='#/')
						i.fab.fa-tumblr
					a(href='#/')
						i.fab.fa-pinterest-p
					a(href='#/')
						i.fab.fa-linkedin-in
		.col-12.col-sm-4.col-lg-2.offset-lg-2.d-flex.align-items-center.justify-content-center
			.learn-more
				h4 Learn more
				ul
					li
						a(href='#/') How it works?
					li
						a(href='#/') Shipping / Returns
					li
						a(href='#/') Testimonials
					li
						a(href='#/') Contact
		.col-12.col-sm-8.col-lg-4.d-flex.align-items-center.justify-content-center
			.row.w-100
				.col-6.d-flex.align-items-center.justify-content-center
					.learn-more
						h4 About us
						ul
							li
								a(href='#/') Our Team
							li
								a(href='#/') Features
							li
								a(href='#/') Privacy police
							li
								a(href='#/') T & C’s
				.col-6.d-flex.align-items-center.justify-content-center
					.learn-more
						h4 Support
						ul
							li
								a(href='#/') F.A.Q.
							li
								a(href='#/') Contact us
							li
								a(href='#/') Live chat
							li
								a(href='#/') Phone call
	.link-to-me
		.row
			.col
					a(href='https://alexander-kislov.github.io/') Alexander Kislov


