#sign-in.sign-in-modal
	.row.no-gutters
		.col-md-6
			.left-sign-in
				h4 Sign in to your account
				form#sign-in-form(method='get')
					input(type='email' name='email' placeholder='Email' requared)
					input(type='password' name='password' placeholder='Password' requared)
				a(href='#/')
					p Forgot your password?
				.log-in
					input.sign-in-button(type='submit' form='sign-in-form' value='Log in')
					a(href='#/')
						i.fab.fa-google-plus-g
					a(href='#/')
						i.fab.fa-facebook-f
		.col-md-6
			.right-sign-up
				h4 Want to have more inspirations?
			a.sign-up-button(href='index.html') Sign up
